.test>li>ol{
list-style-type: upper-alpha;
} 

.helmet>li>ol{
list-style-type: upper-alpha;
}


.helmet2>li>ol{
list-style-type: lower-alpha;
}


.rollbars>li>ol>li{
list-style-type: upper-alpha;
}

.drive>li>ol>li{
list-style-type: upper-alpha;
}

.cloth>li>ol{
list-style-type: upper-alpha ;
}


.hoop>li>ol{
list-style-type: upper-alpha;
}

.bracing>ol>li{
list-style-type: upper-alpha;
}

.protection>ol>li{
list-style-type: upper-alpha;
}

.rollcage>ol>li{
list-style-type: upper-alpha;
}


.consideration>ol>li{
list-style-type: upper-alpha;
}


.FIA>ol>li{
list-style-type: upper-alpha;
}

.bodies>ol>li{
list-style-type: numbers ;
}


.vintagebody>ol>li{
list-style-type: upper-alpha;
}


.SCCA>ol>li{
list-style-type: upper-alpha;
}

.AB>ol>li{
list-style-type: upper-alpha;
}

.endlist>ol>li{
list-style-type: upper-alpha;
}


.h1{
    position: relative;
    left: 421px;
}

.h3{
    position: relative;
    left: 391px;
}



.first-level1{
    position: relative;
    right: 28px;

}


.vehicle{
    position: relative;
    right: 41px;
}


.test{
    position: relative;
    right: 40px;
} 


.convertibles{
    position: relative;
    right: 40px;
}


.drivergear{
    position: relative;
    right: 17px;
}


.ph-helmet{
    position: relative;
    right: 39px;
}

.helmet{
    position: relative;
    right: 41px;
}

