.test>li>ol{
list-style-type: upper-alpha;
} 

.helmet>li>ol{
list-style-type: upper-alpha;
}


.helmet2>li>ol{
list-style-type: lower-alpha;
}


.rollbars>li>ol>li{
list-style-type: upper-alpha;
}

.drive>li>ol>li{
list-style-type: upper-alpha;
}

.cloth>li>ol{
list-style-type: upper-alpha ;
}