.title{
    position: relative;
    top: 15px;
    left: 270px;
}


.nav{
    position: relative;
    top: 17px;
    left: 249px;
}

ul{
    list-style-type: none;
  }

.home{
    position: relative;
    bottom: 0px;
    left: 1px;
}



.about{
    position: relative;
    bottom: 18px;
    left: 69px;

}


.contact{
    position: relative;
    bottom: 37px;
    left: 139px;

}

.img{
    position: relative;
    bottom: 82px;
    left: 50px;

}


.img2{
    position: relative;
    top: 135px;
    right: 148px;
}



.p1{
    position: relative;
    bottom: 155px;
    left: 322px
}


.p2{
    position: relative;
    bottom: 115px;
    left: 322px;
}


.p3{
    position: relative;
    bottom: 77px;
    left: 322px;
}


.p4{
    position: relative;
    bottom: 40px;
    left: 322px;
}



