.Title{

    position: relative;
    margin-left: 56px;
    margin-top: 22px;
    width: 783px;
    font-size: 72px;
    top: 33px;
    height: 87px;
}





.Alternative-car{

    position: relative;
    width: 1300px;
    left: 37px;
    margin-top: -77px
}

.Sub-title{

   position: relative;
    margin-top: 0px;
    top: 0px;
    font-size: 65px;
    left: 0px;
    background-color: royalblue;
    margin-right: 0px;
    margin-bottom: 1px;
    text-align: center;
    margin-left: 43px;
}








.LOGO{
   position: relative;
    bottom: 109px;
    left: 1109px;
    width: 150px;
    height: 150px;

}


.title-back{
    background-image: url(../media/img/Alternative\ Image.jpeg);
    background-size: cover;
    height: 735px;
    margin-left: 43px;
    margin-top: 40px;
}


.nav{

    position: relative;
    float: left;
    font-size: 40px;
    left: 14px;
    margin-bottom: -650px;
    top: -57px;
}

    

ul {
    list-style-type: none;
  }



.home{

    position: relative;
    top: -21px;
}


.contact{

    position: relative;
    top: 20px;
}



.info{

    position: relative;
    left: 307px;
    top: -65px;
    font-size: 32px;
}

.indent1{

    position: relative;
    margin-top: 10px;
    top: -23px;
    left: 32px;
}


.February25{
    
    margin-bottom: 2px;
}



.indent2{

    position: relative;
    top: -13px;
    left: 35px;
}



.March12{

    margin-bottom: -15px;
    position: relative;
}



.indent3{

    position: relative;
    left: 36px;
}