.title{
    position: relative;
    margin-left: 56px;
    margin-top: 22px;
    width: 783px;
    font-size: 72px;
    top: 33px;
    height: 87px;
}


.sub-title{
   position: relative;
    margin-top: 0px;
    top: 0px;
    font-size: 65px;
    left: 0px;
    background-color: royalblue;
    margin-right: 0px;
    margin-bottom: 1px;
    text-align: center;
    margin-left: 43px;
}








.logo{
   position: relative;
    bottom: 109px;
    left: 1109px;
    width: 150px;
    height: 150px;

}


.title-back{
    background-image: url(../media/img/Alternative\ Image.jpeg);
    background-size: cover;
    height: 735px;
    margin-left: 43px;
    margin-top: 40px;
}


.nav{

    position: relative;
    float: left;
    font-size: 40px;
    left: 14px;
    bottom: 4px;
}

    

ul {
    list-style-type: none;
  }



.home{

    position: relative;
    bottom: 12px;
}


.about{
    
    position: relative;
    top: 1px;
}


.contact{

    position: relative;
    top: 20px;
}



.info{

    position: relative;
    left: 253px;
    font-size: 32px;
    bottom: 140px;
}



.february12{
    
    position: relative;
    right: 55px;
}



.indent1{

    position: relative;
    bottom: 9px;
    left: 7px;
}


.february25{

    position: relative;
    bottom: 9px;
    right: 56px;
}



.indent2{

    position: relative;
    bottom: 9px;
    left: 171px;
}


.march12{

    bottom: 9px;
    position: relative;
    left: 110px;
}




.indent3{

    position: relative;
    left: 172px;
    bottom: 9px;
}