.Title{

    position: relative;
    margin-left: 69px;
    margin-top: 22px;
    margin-right: 491px;
    width: 787px;
    font-size: 50px;
    top: 57px;
    height: 84px;
}




.Alternative-car{

    position: relative;
    width: 1300px;
    left: 37px;
    margin-top: -77px
}

.Sub-title{

    position: relative;
    margin-left: -295px;
    margin-top: -1px;
    top: -3px;
    font-size: 65px;
    left: 332px;
    background-color: royalblue;
    margin-right: 419px;
    margin-bottom: 1px;
    text-align: center;
}


.LOGO{
    position: relative;
    bottom: 109px;
    left: 972px;
    width: 150px;
    height: 150px;

}


.title-back{
    background-image: url(../media/img/Alternative\ Image.jpeg);
    background-size: cover;
    height: 641px;
}


.nav{

    position: relative;
    float: left;
    font-size: 40px;
    left: 14px;
    margin-bottom: -650px;
    top: -57px;
}

    

ul {
    list-style-type: none;
  }



.home{

    position: relative;
    top: -21px;
}


.contact{

    position: relative;
    top: 17px;
}



.info{

    position: relative;
    left: 307px;
    top: -65px;
    font-size: 32px;
}

.indent1{

    position: relative;
    margin-top: 10px;
    top: -23px;
    left: 32px;
}


.February25{
    
    margin-bottom: 2px;
}



.indent2{

    position: relative;
    top: -13px;
    left: 35px;
}



.March12{

    margin-bottom: -15px;
    position: relative;
}



.indent3{

    position: relative;
    left: 36px;
}