.title{
    position: relative;
    margin-left: 56px;
    margin-top: 22px;
    width: 783px;
    font-size: 72px;
    top: 33px;
    height: 87px;
}


.sub-title{
    position: relative;
    margin-top: 0px;
    top: 0px;
    font-size: 65px;
    left: 0px;
    background-color: royalblue;
    margin-right: 0px;
    margin-bottom: 1px;
    text-align: center;
    margin-left: 43px;
}



.logo{
    position: relative;
    bottom: 109px;
    left: 1109px;
    width: 150px;
    height: 150px;

}


.title-back{
    background-image: url(../media/img/Alternative\ Image.jpeg);
    background-size: cover;
    height: 735px;
    margin-left: 43px;
    margin-top: 40px;
}


.nav{
    position: relative;
    float: left;
    font-size: 40px;
    left: 14px;
    bottom: 120px;
}

ul {
    list-style-type: none;
}


.home{
    position: relative;
    bottom: 15px;
}


.about{
    position: relative;
    top: 1px;
}



.contact{
    position: relative;
    top: 20px;
}



.info{
    position: relative;
    left: 253px;
    bottom: 120px;
    font-size: 32px;
}


.mission{
    position: relative;
    right: 161px;
}

.quote{
    position: relative;
    right: 161px;
}


.vision{
    position: relative;
    right: 161px;
}







